@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  div.ant-table-wrapper table thead tr td,
  th {
    /* background-color: #fff !important; */
    border-left: 1px solid #d5d5d5 !important;
    border-top: 1px solid #d5d5d5 !important;
    border-bottom: 1px solid #d5d5d5 !important;
  }

  .custom-border-color > td,
  th {
    border-left: 1px solid #d5d5d5 !important;
    border-bottom: 1px solid #d5d5d5 !important;
  }

  .custom-border-color > td:last-child,
  th:last-child {
    border-right: 1px solid #d5d5d5 !important;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
